<head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>UnWomen</title>
</head>

<h1>Blog list</h1>

{{#each blogs}}
<h1>{{title}}</h1>
<article>
  <p>{{content}}</p>
  <img src="{{img}}" alt="{{title}}">

  {{{video}}}

</article>
{{/each}}
