<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Equalizer</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
  <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="d-flex flex-column">
  <nav class="navbar navbar-light navbar-expand-md" style="color: inherit;background-color: #f9dff3;">
    <div class="container-fluid"><a class="navbar-brand" href="#"
        style="font-family: PlayfairDisplay;font-weight: bold;color: #80284c;line-height: 1.6;">Equalizer</a></div>
  </nav>
  <img class="align-self-center my-auto" src="assets/img/Investimentos-inteligentes.jpg"
    style="max-width: 80%;min-width: 50%;min-height: 40vh;max-height: 50vH;">
  <div class="d-flex flex-column align-items-center align-content-center" style="margin: 10vw;">
    <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat.&nbsp;ullamco
      laboris nisi ut aliquip ex ea commodo consequat.&nbsp;<br></p><button class="btn btn-primary align-self-center"
      type="button" style="min-width: 20%;max-width: 50vw;">Next question&nbsp;<i
        class="fa fa-arrow-right"></i></button>
  </div>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>



{{!-- <head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>UnWomen</title>
</head>

<h1>Answer</h1>

{{#if isAnswerRight}}
{{quiz1.rightAnswer.[0]}}
{{quiz1.rightAnswer.[1]}}
{{else}}
{{{quiz1.wrongAnswer.[0]}}}
{{{quiz1.wrongAnswer.[1]}}}
{{/if}}
{{user.name}}

<a href="/quiz/question2/{{user._id}}">next</a> --}}