<head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>UnWomen</title>
</head>

<h1>Answer</h1>

{{#if isAnswerRight}}
{{quiz1.rightAnswer.[0]}}
{{quiz1.rightAnswer.[1]}}
{{else}}
{{{quiz1.wrongAnswer.[0]}}}
{{{quiz1.wrongAnswer.[1]}}}
{{/if}}
{{user.name}}

<a href="/quiz/question2/{{user._id}}">next</a>

  