<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Equalizer</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/Highlight-Clean.css">
  <link rel="stylesheet" href="/assets/css/styles.css">

</head>

<body>
  <nav>
    <div class="container-fluid"><a class="navbar-brand" href="#">Equalizer</a></div>
  </nav>
  <div>
    <img style=" max-width: 80%;min-width: 50%;min-height: 40vh;max-height: 50vH;" src="{{quiz1.img2}}">
  </div>
  <div class="d-flex flex-column justify-content-center align-content-center" style="margin: 5vw 10vw;">

    {{#if isAnswerRight}}
    <h2 class="correctAswer">Correct</h2>

    <h3>{{{quiz1.rightAnswer.[0]}}}</h3>
    <p>{{{quiz1.rightAnswer.[1]}}}</p>

    {{else}}

    <h3>{{{quiz1.wrongAnswer.[0]}}}</h3>
    <p>{{{quiz1.wrongAnswer.[1]}}}</p>

    {{/if}}

    <a href="/quiz/{{quiz1.next}}/{{user._id}}" class="btn btn-primary align-self-center"
      style="min-width: 20%;max-width: 30vw;">Next question</a>
    <a href="/quiz/{{quiz1.next}}/{{user._id}}" class="btn btn-primary" role="button" href="" style="min-width:80%; max-width: 10px; 	border-radius: 8px;
	background-color: #d6336c; align-self-center">Submit&nbsp;<i class="fa fa-arrow-right"></i></a>

  </div>



  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>



{{!-- <head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>UnWomen</title>
</head>

<h1>Answer</h1>

{{#if isAnswerRight}}
{{quiz1.rightAnswer.[0]}}
{{quiz1.rightAnswer.[1]}}
{{else}}
{{{quiz1.wrongAnswer.[0]}}}
{{{quiz1.wrongAnswer.[1]}}}
{{/if}}
{{user.name}}

<a href="/quiz/question2/{{user._id}}">next</a> --}}