<p class="question-number"><span>{{quiz1.number}}</span>/5</p>
  
<figure class="imagemQuestion">
  <img src="{{quiz1.img}}" alt={{quiz1.question}}>
</figure>


  <form method="POST" action="/quiz/{{quiz1.id}}/{{user._id}}" class="question-form">
    <label>{{quiz1.question}}</label>
    <div class="radio-button">
      <label><input type="radio" name="{{quiz1.id}}" id="1" value="{{quiz1.answer1.[1]}}"> {{quiz1.answer1.[0]}}</label>
      <label><input type="radio" name="{{quiz1.id}}" id="2" value="{{quiz1.answer2.[1]}}"> {{quiz1.answer2.[0]}}</label>
      <label><input type="radio" name="{{quiz1.id}}" id="3" value="{{quiz1.answer3.[1]}}"> {{quiz1.answer3.[0]}}</label>
    </div>
    <button class="btn red">Submit&nbsp;<i class="fa fa-arrow-right"></i></button>
  </form>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>



{{!-- <head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>UnWomen</title>
</head>
<img src="{{quiz1.img}}" alt="">


<form method="POST" action="/quiz/{{quiz1.id}}/{{user._id}}">
<label>{{quiz1.question}}</label>
  <input type="radio" name="{{quiz1.id}}" id="1" value="{{quiz1.answer1.[1]}}">{{quiz1.answer1.[0]}}
  <input type="radio" name="{{quiz1.id}}" id="2" value="{{quiz1.answer2.[1]}}">{{quiz1.answer2.[0]}}
  <input type="radio" name="{{quiz1.id}}" id="3" value="{{quiz1.answer3.[1]}}">{{quiz1.answer3.[0]}}
  <button>Let's go</button>
</form> --}}