<p class="question-number"><span>{{quiz.id}}</span>/5</p>
  
<figure class="imagemQuestion">
  <img src="{{quiz.img}}" alt={{quiz.question}}>
</figure>

<form method="POST" action="/quiz/{{quiz.id}}/{{userId}}" class="question-form">
  <label>{{quiz.question}}</label>
  <div class="radio-button">
    <label><input type="radio" name="answer" id="1" value="{{quiz.answer1.[1]}}"> {{quiz.answer1.[0]}}</label>
    <label><input type="radio" name="answer" id="2" value="{{quiz.answer2.[1]}}"> {{quiz.answer2.[0]}}</label>
    <label><input type="radio" name="answer" id="3" value="{{quiz.answer3.[1]}}"> {{quiz.answer3.[0]}}</label>
  </div>
  <button class="btn red">Submit&nbsp;<i class="fa fa-arrow-right"></i></button>
</form>
