<head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>UnWomen</title>
</head>

<h1>Result</h1>

{{#if moreThan50}}
good msg
{{else}}
bad msg
{{/if}}
Your result 
{{user.name}}
{{user.sum}}

<br>
{{#each users}}
{{name}}
{{sum}}
{{/each}}

<a href="/quiz/question2/{user._id}">next</a>

  