<div class="result-page">
  <h1>{{user.sum}}%</h1>

  {{#if moreThan50}}
  <h3>Amazing!</h3>
  <p>You already have a lot of information. Check our blog for news and more. <br>We would love to get in
      touch with you to discuss actions that we can do to change <strike>the future</strike> now.</p>
    {{else if score100}}

  <h3>Contratulations!</h3>
  <p>You have a good knowledge about gender equality, but information is never enough! <br>Check our blog for more and let´s discuss actions that we can do it to change this gender
      inequality. <br>Remember: Change starts with you! ;)</p>

  {{else}}
  <h3>Don't give up!</h3>
  <p>You are just beginning this journey towards equality and we can do it
      together. <br>Check our blog for more data and information.</p>

  {{/if}}

  <a href="/blog" class="btn red">See our blog&nbsp;<i class="fa fa-arrow-right"></i></a>
  <a class="btn whatsapp-btn" href="https://api.whatsapp.com/send?text=Look%20this%20quiz!%20https://worldequalizer.herokuapp.com/quiz/result/{{user._id}}" target="_blank">Share your results!&nbsp;<i class="fa fa-whatsapp"></i></a>
        

    <h3>Our top ten understanding people</h3>
    <table class="table">
      <tbody>
        {{#each users}}

        <tr>
          <td><span>{{incremented @index}}</span> {{name}}</td>
          {{!-- <td>{{sum}}%</td> --}}
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>


  